<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body ng-app="inventory" ng-controller='inventoryCtrl'>
	<form ng-model='room'>
	<input type="text" ng-model='room.name' placeholder='room'>
	<input type="hidden" ng-model='room.cost' ng-value='0'>
	<button ng-click='addRoom(room)'>Add</button>
	</form>

	<form ng-model='item'>
		<input type="text" ng-model='item.name' placeholder='item'>
		<input type="number" ng-model='item.quantity' placeholder='quantity'>
		<input type="number" ng-model='item.cost' placeholder='cost'>
		<select ng-model='item.room'>
			<option ng-repeat='room in rooms track by $index'>{{room.name}}</option>
		</select>
		<button ng-click='addItem(item)'>Add</button>
	</form>
	<p>Cost per room</p>
	<select>
		<option ng-repeat='room in rooms track by $index'>{{room.name}}</option>
	</select>

	<div>{{room.cost}}</div>

	<table>
		<tbody>
			<th>
				<td>Item</td>
				<td>Room</td>
				<td>Cost</td>
				<td>Quanity</td>
				<td>Total</td>
			</th>
			<tr ng-repeat='inventory in inventoryList track by $index'>
				<td></td>
				<td>{{inventory.name}}</td>
				<td>{{inventory.room}}</td>
				<td>{{inventory.cost}}</td>
				<td>{{inventory.quantity}}</td>
				<td>{{inventory.total}}</td>
			</tr>
		</tbody>
		
	</table>
<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.0/angular.js'></script>
<script src='app.js'></script>
</body>
</html>